<h2>Did you know?</h2>
<hr>
<p>In <%- fakeMonth %> 2018, <%-fakeAdj1 %> hacker, <%- fakeName %>, was able to
   <%- fakeVerb1 %> the <%- fakeAdj2 %> <%- fakeNoun1 %> <%- fakeAbbr%> to prevent
   the <%- fakeNoun2 %> from <%- fakeVerb2%> in all AR devices.</p>